<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="botToken" value="6034671414:AAG_ZPOUNeJ_o7hQPE4AjHqXgDeFxFL_HkA"/>
		<add key="dbConnectionString" value="Host=localhost;Username=postgres;Password=admin;Database=postgres;IncludeErrorDetail=true"/>
		<add key="autumnTermDate" value="04.09.2023"/>
		<add key="springTermDate" value="05.02.2024"/>
		<add key="timerTickMinutes" value="5"/>
		<add key="additionalDebugInfo" value="false"/>
		<add key="downloadSchedules" value="false"/>
		<add key="parseSchedules" value="false"/> <!--SWITCH TO TRUE ONLY IF YOU WANT TO CLEAR DATABASE AND PARSE SCHEDULE AGAIN!!!-->
		
		<!--Texts-->
		<add key="startText" value="🇺🇦 Вітаємо в NuosHelpBot!

		Цей бот допоможе тобі легко і зручно отримати доступ до розкладу. Основні функції боту:

		🎓 Перегляд розкладу на кожен день для студентів і викладачів

		🎓 Перегляд розкладу групи з або без урахування підгрупи

		🎓 Посилання на GoogleClass, GoogleMeet, Zoom для пар

		🎓 Повідомлення про початок пар (ви можете вимкнути цю функцію у налаштуваннях)

		🔗 Обов'язково поділись @nuos_help_bot з друзями. Успіхів, та приємного користування!

		ℹ️ Весь розклад взято з офіційного сайту НУК: https://nuos.edu.ua/studentu/rozklad-zanyat/"/>
		<add key="emptyDayText" value="В цей день пар немає!
🇺🇦 |               🎓
🇺🇦 |               💀🎉
🇺🇦 |               🥼"/>
		<add key="additionalInfoText" value="Деяка додаткова інформація про бота"/>
		
		<!--Schedules-->
		<add key="FullTimeAutumn1" value="1dRovzMKoljLRdFrEb7LN0oSQxdXNpbLFbVAm9EPAJwQ"/>
		<add key="FullTimeAutumn2" value="1_dmK6IRNXwoHv35bov2Mp9ULF3TYTgyJZSDtA7UPzU8"/>
		<add key="FullTimeAutumn3" value="158GT3llYFhUj_6rAgVSeRORfZgeOT2NgYEZm0D6o9aY"/>
		<add key="FullTimeAutumn4" value="1h2t6P-lBnRX3gJb_z_KuhtQPD4VOcQ1RpsdJ80ggqXI"/>
		<add key="FullTimeAutumn5" value="1TbjqQYULunB7cCARdQx5cUFqCavIGSDumkP3CjaFSpo"/>
		<add key="FullTimeAutumn6" value="1lgsAw0hhUbjL42R42KUkZIfZ8lkgLZutGdur2ZqBFFQ"/>

		<add key="FullTimeSpring1" value="1R5n8oEATT0MFlCMbGDIO68b9ipYOHZu3KTw9SbdSoEo"/>
		<add key="FullTimeSpring2" value="1i_cNTmLe-3p-nbOli2Xc1hx_AvHPMhi3yCw_BxM-F7Q"/>
		<add key="FullTimeSpring3" value="1az6rARU1zKUaxb8cF4PJvuGTxG2FOI8JxMqeCw-Jid4"/>
		<add key="FullTimeSpring4" value="1nteL5FX74oOFHcuJZkTn4hyA1ygPxYcMaV0U8N_mjAA"/>
		<add key="FullTimeSpring5" value="1ZmaGVvTFJ-mDpmvEPzBNYcp2gAgQsx5prCkr9LQLKxg"/>

		<add key="PartTimeAutumn1" value="1wDI0BRUK7p07TJ1hPhhaKKZT5lwEEjwa2gVD23FYxB0"/>
		<add key="PartTimeAutumn2" value="1AsZqVqWqKnNS2gaBYLAQX5lmg9lPoyF9j1SADBw6qdk"/>
		<add key="PartTimeAutumn3" value="1GDi3VubXDOQC96ezQPz2ENUspMep5vY50ScGI1Yn7pc"/>
		<add key="PartTimeAutumn4" value="14lT-NCrhSHarADFzCR7IOoGE4j3UX2ysQC63kRp-X3s"/>
		<add key="PartTimeAutumn5" value="1hgWkBGOtHzlVUKV3sTgnvl5ckY3CTgm0aN0EWyLO9Lc"/>
		<add key="PartTimeAutumn5M" value="1Q52qtoce701PD7ObpJS-HlR7W3NvbEiLsVjH8wTKi9w"/>
		<add key="PartTimeAutumn6M" value="1rHO-Pit2m_NWZM-_9nfE70wqW7XiGJNpyhR4IBP7veE"/>

		<add key="PartTimeSpring1" value="1lqWk6EA05u1BEcx1N_lso_RyCcK9SMUFIhOEK4m8WsU"/>
		<add key="PartTimeSpring2" value="1xaYUEXqFbxziJ5ep2kdrzRgC3W5RCDD5JHzGhhaRbrg"/>
		<add key="PartTimeSpring3" value="1emrsLR0RCM2rhMZCG2CcnEuKY-GjV9nC8zp4z3fWyFs"/>
		<add key="PartTimeSpring4" value="11xzJ24LeJOT2ovZxlZXljpTwAiUNl4IOh41TpdJ0F7k"/>
		<add key="PartTimeSpring5" value="1e9QJzXeiWcNvfX_ipYF6ojPBCeR4gjrHArDnIJd1bXY"/>
		<add key="PartTimeSpring5M" value="1ikLGS4pNK4l_XPyFTBlWyVv_YCAKaZNeOa2gUbw5ZFw"/>
	</appSettings>
</configuration>